.container {
  width: 50%;
}
.container article {
  width: 60%;
}
.container aside {
  position: fixed;
  top: 50px;
  right: 25%;
  width: 300px;
}
.container ul {
  list-style: none;
}
.container ul li {
  text-align: center;
  border-bottom: 1px solid #dddddd;
  line-height: 30px;
  position: relative;
}
.container ul li a {
  text-decoration: none;
}
.container ul li em {
  z-index: 5;
  display: block;
  color: black;
  position: relative;
}
.container ul li .a-progress {
  display: block;
  height: 30px;
  background-color: #dddddd;
  width: 0%;
  position: absolute;
  transition: width 1s;
  top: 0;
  left: 0;
}
