* {
    margin:0;
    padding:0;
}
table {
    width:400px;
    height:300px;   /* table 定高，span height 100% 可以撑足*/
    border-collapse: collapse;
}
tr {
    border: 1px solid steelblue;
}
td {
    padding:0;
    text-align: center;
    position:relative;
}
td span {
    width:100%;
    height:100%;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
}