.drag-style td {
  background-color: #eee;
  -webkit-box-shadow: 6px 3px 5px #555555, 0 1px 0 #cccccc inset, 0 -1px 0 #cccccc inset;
}
.drag-style td:last-child {
  -webkit-box-shadow: 1px 8px 6px -4px #555555, 0 1px 0 #cccccc inset, 0 -1px 0 #cccccc inset;
}
.container {
  padding-top: 50px;
}
.container .row {
  margin-top: 30px;
}
