.container {
  width: 50%;
}
.container article {
  width: 60%;
}
.container aside {
  position: fixed;
  top: 50px;
  right: 25%;
  width: 300px;
}
.container ul {
  list-style: none;
}
.container ul li {
  text-align: center;
  border-bottom: 1px solid #dddddd;
  line-height: 30px;
  position: relative;
}
.container ul li a {
  text-decoration: none;
}
.container ul li em {
  z-index: 5;
  display: block;
  color: black;
  position: relative;
}
.container ul li .a-progress {
  display: block;
  height: 30px;
  background-color: #dddddd;
  width: 0%;
  position: absolute;
  transition: width 1s;
  top: 0;
  left: 0;
}
.demo2 aside ul li {
  border-bottom: 0px;
}
.demo2 aside ul li a em {
  width: 80px;
  transition: background-color 1s ease;
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
}
.demo2 aside ul li a em.active {
  background-color: steelblue;
  border-radius: 50%;
  animation: animateRadius 1s ease-out;
}
@keyframes animateRadius {
  10% {
    border-radius: 40% 40% 40% 40%;
  }
  40% {
    border-radius: 50% 50% 50% 50%;
  }
  70% {
    border-radius: 40% 40% 40% 40%;
  }
  100% {
    border-radius: 50% 50% 50% 50%;
  }
}
